<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>upload</title>

</head>
<body>
<h1 id="title">img upload</h1>
<!--表单上传文件时 需改变属性enctype='multipart/form-data' 即定义表单的上传类型问文件类型-->
<form id= 'uploadForm' action="/imgUpload" method="post" enctype="multipart/form-data">
    <label for="imgInput">choose image</label>
    <input  hidden id="imgInput" type="file" name="imgfile">
    <div class="btn">upload</div>
    <img id="preview" alt="">
</form>
<script type="text/javascript" src="/javascripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    let formDataObj = new FormData();
    $('#imgInput').change(function (e) {
        // console.log($('#uploadForm'));
        console.log(this.files);
        let file = this.files[0];
        //创建formData对象，将文件追加到formData对象中
        //预览图片
        //创建预览图片地址
        let httpUrl = window.webkitURL.createObjectURL(file);
        $("#preview").attr('src',httpUrl);
        formDataObj = new FormData();
        formDataObj.append('imgfile',file);

    })
    $('.btn').click(function () {
        $.ajax({
            url:"/imgUpload",
            method:"POST",
            data:formDataObj,
            processData:false,
            contentType:false
        }).then(function (result) {
            console.log(result);
            $('body').append(`<h1>upload success</h1><img src='${result.imgUrl}' alt=''>`)
        })
    })
</script>
</body>
</html>